.fileName {
    color: var(--ion-color-medium);
    font-size: small;
    text-align: center;
}

.heading {
    color: var(--ion-color-primary);
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.bodyText {
    text-align: center;
}

.palette {
    width: 500px;
    height: 500px;
}